.not-found-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    background-color: #efefef; 
}

.not-found-title {
    font-weight: 600;
    font-size: 10rem; 
    color: #19232a; 
}

.not-found-message {
    font-weight: 500;
    font-size: 4rem; 
    color: #ccbd82; 
}